.link {
  text-decoration: none;
  color: #000;
}

/*======================
button
======================*/

.button {
  text-align: center;
  outline: none;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  height: 25px;
  text-shadow: 0;
  cursor: pointer;
  background: #fff;
  border: 1px solid black;
  color: black;
  transition: all 0.125s ease;
}

.button:hover {
  color: white;
  background: black;
}

.button-color_blue {
  border: 1px solid rgb(60, 96, 255);
  color: rgb(60, 96, 255);
}

.button-color_blue:hover {
  background: rgb(60, 96, 255);
}

.button-color_red {
  border: 1px solid rgb(255, 76, 76);
  color: rgb(255, 76, 76);
}

.button-color_red:hover {
  background: rgb(255, 76, 76);
}

/*======================
page
======================*/

.page {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.page__header {
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0 auto;
  border: 1px solid black;
  width: 40%;
  height: 70px;
}

.page__main {
  box-sizing: border-box;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: -1px;
  width: 40%;
}

.page__input-text-bar {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: -1px;
  width: 40%;
}

/*======================
header
======================*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header__logo {
  height: 100%;
  /* border-radius: 50%; 
  border: 1px solid black; */
}

.header__navbar {
  /* border: 1px dashed blue; */
}

/*======================
logo
======================*/

.logo {
  height: 100%;
}

/*======================
navbar
======================*/

.navbar {
}

.navbar__link {
  display: inline-block;
  padding: 10px;
}

.navbar__link_selected {
  border-bottom: 1px solid black;
}

/*======================
userbar
======================*/

.userbar {
}

.userbar__greeteings {
  margin: 0;
  padding: 0;
  display: inline-block;
}

/*======================
messages-bar
======================*/

.messages-bar {
  padding: 15px;
  margin: 0;
  background-image: url("./background.png");
  background-size: 55% auto;
  min-height: 350px;
  max-height: 350px;
  overflow: auto;
}

.messages-bar__message {
  display: flex;
  margin-bottom: 20px;
}

.messages-bar__message_side_right {
  justify-content: flex-end;
}

/*======================
msg
======================*/

.msg {
  border-radius: 15px;
  background-color: rgb(208, 255, 208);
  padding: 10px;
  flex-basis: auto;
  text-align: left;
  max-width: 70%;
  overflow-wrap: break-word;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.5);
}

.msg_side_right {
  background-color: rgb(212, 255, 249);
}

.msg__sender {
  font-weight: bold;
}

.msg__date {
  margin: 0;
  font-style: italic;
  font-size: 8pt;
  color: dimgray;
}

/*======================
input-text-bar
======================*/

.input-text-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.input-text-bar__clear {}

.input-text-bar__form {
  margin-left: 10px;
}

/*======================
input-msg
======================*/

.input-msg {
  flex: 12 3 100%;
  display: flex;
  justify-content: space-between;
}

.input-msg__text {
  flex: 12 3 100%;
}

.input-msg__send {
  margin-left: 10px;
}

